<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RK Quiz | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">
    <h1 class="title">🌌 RK QUIZ</h1>

    <div class="middle-text">
        <h2>Enter The Knowledge Galaxy.</h2>
    </div>

    <div class="bottom-buttons">
        <a href="/quiz"><button class="main-btn">Attend Quiz</button></a>
        <a href="/create"><button class="main-btn">Create Quiz</button></a>
    </div>
</div>

</body>
</html>